:root {
    --color-white: #ffffff;
    --color-ocean: #404bbf;
    --color-background: #ffffff;
    --color-iris: #4d5ae5;
    --color-background-btn: #404bbf;
    --color-background-main: #2e2f42;
    --color-main: #434455;
    --color-cloud: #f4f4fd;
    --color-costumers: #8E8F99;
    --color-iconfooter: #31D0AA;
    --color-text: #c68d08;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--color-main);
    background-color: var(--color-white);
    max-width: 1150px;
    margin: 0;
    border: 0;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
}
address {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
}

/*-------------------HEADER-----------------------------*/
.header {
    position: relative;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px; 
    padding: 20px;
    border: 0px;
    width: 420px;
   
}
.header-conteiner {
    display: flex;
    align-items: center;    
}
.header-ul {
    padding: 0;
}

.a-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    margin-left: auto; 
    flex-direction: row;
    display: flex; 
}
.a-link:hover,
.a-link:focus {
    color: var(--color-iconfooter);
}

/*-------------------MAIN-----------------------------*/
.menu {
    list-style: none;
    display: block;
    justify-items: center;
    align-items: center;
    border: 0px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 350px;
    padding-left: 0;
    border-radius: 10px;
}
.menu-item {
    outline: 2px solid turquoise;
    border-radius: 10px;
}
.menu-link {
    color: #c68d08;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #4d5ae5;
    border-radius: 10px;
}
.menu-item:hover .sub-menu,
.menu-item:focus .sub-menu {
    display: block;
}
.sub-menu {
    list-style: none;
    background-color: #ccc;
    display: none;
    margin-left: 0;
}
.main {
    
}
.main-conteiner {
    background-image: url(/images/img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
}